{#
/**
 * @file
 * patches theme implementation to display a product nodes.
 *
#}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        <span{{ author_attributes }}>
          {{ 'By'|t }} {% apply spaceless %}<span class="node__author">{{ author_name }}</span>{% endapply %}, {{ date }}
        </span>
        {{ metadata }}
      </div>
    {% endif %}
    {% if label and not page %}
      <div class="node__top-wrapper">        
      </div>
    {% endif %}
  </header>
  <div{{ content_attributes.addClass('node__content') }}>
    
    <h3{{ title_attributes.addClass('node__title') }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    <div class="product_content">
    <img src="{{ file_url(content.field_product_image['#items'][0].entity.uri.value) }}" width = "150px" alt="{{ node.field_image.alt }}" />
    <div>{{content.body}}</div>
    </div>
    <div class="product_qrcode">
        <img src="/sites/default/files/Qr-codes/{{content.field_product_qr_code.0}}" width = "250px"></div>
  </div>
  </div>
</article>
